<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<title>Create-New Customer</title>
</head>

<body>
	<div class="container alert alert-success" role="alert" id="succesMessageDiv" th:if="${successMessage != null}">
		<p th:text="${successMessage}"></p>
	</div>
	<div class="container alert alert-danger" role="alert" id="errorMessageDiv" th:if="${errorMessage != null}">
		<p th:text="${errorMessage}"></p>
	</div>
	<div class="container" th:if="${successMessage == null || successMessage == ''}">
		<h3>Create new customer</h3>
		<form method="post" th:action="@{/customer/create}" th:object="${customer}">
			<div class="form-group">
				<label for="firstName">First Name</label>
				<input type="text" class="form-control" id="firstName" th:field="*{firstName}">
			</div>
			<div class="form-group">
				<label for="lastName">Last Name</label>
				<input type="text" class="form-control" id="lastName" th:field="*{lastName}">
			</div>
			<div class="form-group">
				<label for="companyName">Company Name</label>
				<input type="text" class="form-control" id="companyName" th:field="*{companyName}">
			</div>
			<div class="form-group">
				<label for="email">Email</label>
				<input type="email" class="form-control" id="email" th:field="*{email}" aria-describedby="emailHelp">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</body>

</html>